
.intro-sec{
    display: flex;
    margin-bottom: 5%;
}
.intro-1{
    width: 50%;
    padding-left: 7%;
    margin-left: 2%;
}
.text{
    padding-top: 65px;
}
.intro-1 img{
    width: 50%;
    margin-left: 25%;
    padding-top: 2px;
}
.intro-1 span{
    color: cadetblue;
}
.intro-1 h1{
    padding-left: 7px;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    border-left: 3px solid black;
    border-image: linear-gradient(#3AEADA, #5A949A);
    border-image-slice: 3;
}
.intro-1 p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
}
.button{
    border: none;
    padding: 2% 3% 1.5% 3%;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #5CA9B1 ,#40E3F4 );
    color: white;
}



.sec-2{
    display: flex;
    margin: 3% 7% 10% 8%;
}
.sec-2 img{
    width: 30%;
}
.mid-box{
    margin: 0 1.5% 0 1.5%;
    padding: 2% 2% 2% 2%;
    border-radius: 8px;
}
#box1{
    background-color: rgb(236, 241, 211);
}
#box2{
    background-color: rgb(202, 218, 218);
}
#box3{
    background-color: rgb(216, 230, 252);
}
#mid-h1{
    text-align: center;
    font-size: 2rem;
}
#mid-h1 span{
    color: cadetblue;
}



.mid-sec{
    display: flex;
    margin-bottom: 5%;
    margin-left: 5%;

    background-image: url(img/shape-5.png);
    background-repeat: no-repeat;
    background-position: 0% 50% ;
    background-size: 10%;
}
.mid-1{
    width: 50%;
    padding-right: 9%;

    
}
.mid-1 img{
    width: 50%;
    margin-left: 11.5%;
    padding-top: 2px;
}
.text-2{
    padding-left: 0%;
    padding-top: 60px;
}
.text-3{
    width: 47%;
    padding-right: 0%;
    padding-top: 60px;
    padding-left: 8%;
}



#img{
    width: 53%;
    padding-left: 50px;
    padding-bottom: 60px;
    background-image: url(img/bluecircles.png);
    background-repeat: no-repeat;
    background-position: 82% 245px ;
    background-size: 20%;
}

.last-sec{
    margin: 0 0 5% 0;
}
.last-sec h1{
    text-align: center;
    font-size: 2rem;
}
.last-sec h1 span{
    color: cadetblue;
}
.last{
    margin-left: 22%;
    display: flex;
    width: 56%;
    /*background-image: linear-gradient(-45deg, rgb(118, 192, 186), rgb(206, 239, 240));
    padding: 3% 0;
    border: none;*/

    background-image: url(img/shape-4.png);
    background-repeat: no-repeat;
    background-position: 95.5% 60% ;
    background-size: 20%;
}
.last img{
    padding-top: 7%;
    width: 40%;
    height: 40%;

}
.project{
    padding-left: 5%;
    width: 70%;
}
.project h1{
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    border-left: 3px solid black;
    border-image: linear-gradient(#3ad6ea, #038291);
    border-image-slice: 3;
}
.project-2{
    padding-left: 5%;
    width: 70%;
}
.project-2 p{
    float: left;
}

footer{
    display: inline-block;
    margin: 0 -10px -20px -10px;
    padding: 3px 5px 3px 4px;
    width: 98.25vw;
    text-align: center;
    background-color: black;
    color: white;
}
footer span{
    color: salmon;
}











